body,
html {
    margin: 0;
    padding: 0;
}

html {
    background-color: rgba(186, 0, 68, 0.854);
}

header {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    color: white;
    font-family: 'Inter', sans-serif;
    background-color: rgba(118, 0, 43, 0.854);
    padding: 40px;
    width: 50%;
    margin: 0 auto;
    margin-top: 30px;
    align-items: center
}

;

h1.mainTitle {
    font-size: 150px;
}

.depositForm {
    display: flex;
}

.depoBtn {
    background-color: rgb(54, 54, 215);
    color: white;
    border: none;
    cursor: pointer;
    padding: 20px;
    transition: background .2s ease;
}

.depoBtn:hover:not(:disabled) {
    background-color: rgb(43, 43, 175);
}

.depoBtn:hover:disabled {
    background-color: rgb(43, 43, 175);
    cursor: not-allowed;
}

#spinBtn {
    padding: 20px;
    width: 150px;
    font-size: large;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    border: none;
    background-color: rgb(200, 41, 108);
    color: white;
    cursor: pointer;
}

#spinBtn:hover {
    background-color: rgb(155, 31, 83);
}

.gameSection {
    background-color: rgba(118, 0, 43, 0.854);
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 40px;
}

.gamblingBody {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

img {
    width: 170px;
    background-color: rgb(255, 255, 255);
}


#coinImg {
    background-color: rgba(130, 0, 46, 0.854);
    width: 30px;
    height: 30px;
    margin: 0;
    padding: 0;
}

.balanceText {
    display: flex;
    align-items: center;
    gap: 5px;
}


.errorMsg {
    color: rgb(255, 0, 0);
    font-family: 'Inter', sans-serif;
}

.success {
    color: rgb(0, 201, 0);
    font-family: 'Inter', sans-serif;
}

#limitMsg {
    color: grey;
    font-family: 'Inter', sans-serif;
}

.spendYourMoney {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    width: 150px;
}

#bet {
    padding: 15px;
}
